//import fonts
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');

//COLOR
$lightRed: hsl(0, 100%, 67%);
$backRed: hsla(0, 100%, 67.1%, 0.04);
$orangeYellow: hsl(39, 100%, 56%);
$backYellow: hsla(58.9, 100%, 77.8%, 0.44);;
$green: hsl(166, 100%, 37%);
$backGreen: hsla(166, 100%, 37.1%, 0.15);
$blue: hsl(234, 85%, 45%);
$backBlue3: hsla(234.1, 100%, 84.1%, 0.28);
$backBlue: hsl(252, 100%, 67%);
$backBlue2: hsl(241, 81%, 54%);
$violetCircle: hsla(256, 72%, 46%, 1);
$persianCircle: hsla(241, 72%, 46%, 0);
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lavandar: hsl(241, 100%, 89%);
$darkGray: hsl(224, 30%, 27%);